{% extends "base.html" %}

{% block content %}

<form method="POST" action="{% url 'create_story' %}">
    {% csrf_token %}
    <div style="padding: 10px">
        <label> Story title:
            {{ form.title }}
        </label>
        <span>{{ form.errors.title }}</span>
    </div>
    <div style="padding: 10px">
        <label> Story text:
            {{ form.text }}
        </label>
        <span>{{ form.errors.text }}</span>
    </div>
    <div style="padding: 10px">
        <label> Select tags:
            <select name="tags" multiple="multiple" required>
                {% for tag in tags %}
                <option value="{{tag.name}}">{{tag.name}}</option>
                {% endfor %}
            </select>
        </label>
    </div>
    <div style="padding: 10px">
        <label> Select categories:
            <select name="categories" multiple="multiple" required>
                {% for category in categories %}
                <option value="{{category.name}}">{{category.name}}</option>
                {% endfor %}
            </select>
        </label>
    </div>
    <div style="padding: 10px">
        <label> Select type:
            <select name="type" required>
                <option value="{{type.name}}">{{type.name}}</option>
            </select>
        </label>
    </div>
    <div class="grid">
        <button type="submit">Submit</button>
        <button type="reset" class="secondary">Reset</button>
    </div>
</form>
{% endblock %}
