{% extends "base.html" %}

{% block content %}

<div>
    <h2>Contacts</h2>
</div>

<form method="post" action="{% url 'contacts' %}">
    {% csrf_token %}
    <div>
        <label> Your contacts:
            {{ form.contacts }}
        </label>
        <span>{{ form.errors.contacts }}</span>
    </div>
    <br>
    <div>
        <label> Text message:
            {{ form.text }}
        </label>
        <span>{{ form.errors.text }}</span>
    </div>
    <div class="grid">
        <button type="submit">Submit</button>
        <button type="reset" class="secondary">Reset</button>
    </div>
</form>

{% endblock %}
